doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //link(rel="stylesheet", href="/static/style.css")
        link(rel="stylesheet", href="/style.css")
    title Pug Template Engine
    body
        include partials/_nav
        div
            header
                h2.red #{section}

            section
                h2 my section of web page
                p lorem ipsum erfan shara
                each user in users
                  li #{user.name}

            footer
                h3 footer section
                p
                    a(href=link) my link
